*.pyc
.tox/
*.egg-info
dist/
bin/creds.py
build/
.env
.venv/
__pycache__/
./tmp/
*.egg-info/
tmp/
# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# OS specific
.DS_Store
Thumbs.db
